
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing:inherit;
}


*{
  color:white;
  background-color: black;
}
html{
  background-color: black;
}
div{
  display:flex;
  justify-content: space-between;
}
.group, .Homie, .Cousin{
  width:25%;
  height:25%;
}

.Photos{
  display: flex;
  flex-direction: row;
  float:left;
}
.Slection{
  padding-left:10px;
}
.Cousin{
   transform: rotate(90deg);
}
iframe{
  box-sizing: border-box;
  border: solid red;
}
.Youtube{
  padding-top:30rem;
}
/*Contact*/
h3{
  font-family:fantasy;
}

h1{
  padding-top:3rem;
}

/*Photo Page*/

.group1, .Homie1, .roomates, .building, .Cousin1{
  width:25%;
  height:25%;
}


.Cousin1{
   margin-top:20px;
 }
.ff, .uncle, .od, .ex, .car{
  width:25%;
  height:25%;
}

.Catalog{
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.MainRowP{
  display: flex;
  justify-content: space-between;
}
